<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}">
<head>
    <meta charset="UTF-8">
    <title>Sobre a Instituição | Fatec Zona Leste</title>
    <link rel="stylesheet" th:href="@{/css/sobre.css}">
</head>
<body>
<section class="container px-5 py-5 animated-card" layout:fragment="content">
    <h2>A Fatec Zona Leste</h2>
    <hr class="fatec-hr">
    <div class="content-section">
        <p>O Centro Tecnológico da Zona Leste surgiu da luta do Movimento Popular Pelo Desenvolvimento da Zona Leste
            ainda em 1999, quando moradores dos bairros de Cidade A.E Carvalho, Jardim São Nicolau, Vila União, Jardim
            Coimbra, Burgo Paulista, Artur Alvim e adjacências se mobilizaram contra a construção de dois Centros de
            Detenção Provisória.
        </p>

        <p>No dia 12/12/1999, uma comissão de moradores se dirigiu a um evento que acontecia na Obra Social Dom Bosco de
            Itaquera, onde estava o então governador Mário Covas para estabelecer um diálogo direto com ele e, nesta
            ocasião, foi declarada publicamente a paralisação das obras da construção dos Centros de Detenção
            Provisória. A população então reivindica a construção de uma Universidade Pública para a zona leste.
        </p>

        <p>Essa mobilização se deu por meio de abaixo-assinados, carreatas, atos públicos, visitas ao Palácio dos
            Bandeirantes (sede do governo estadual), Assembleia Legislativa, Câmara Municipal, escolas, etc. Em
            04/12/1999 durante um desses atos, jovens, senhoras e adultos foram agredidos pela tropa de choque e depois
            detidos após a derrubada por parte dos moradores do muro do futuro presídio.
        </p>

        <p>Em 24/06/2000, a população tem seu pedido atendido pelo governador Mário Covas que, junto com José Aníbal,
            então secretário de ciência, tecnologia e desenvolvimento econômico do Estado de São Paulo, visitou o local
            das obras paralisadas do presídio e lançaram a construção do Centro Tecnológico da Zona Leste, que abrigaria
            uma ETE (Escola Técnica Estadual) e uma Fatec (Faculdade de Tecnologia), destacando que “o seu governo
            respeitou a vontade do povo da região e que esta vitória pertencia à população organizada”.
        </p>


        <p>A construção do campus do Centro Tecnológico da Zona Leste teve início em 27/05/2001, oficializada pela
            visita do agora governador Geraldo Alckmin. O primeiro vestibular aconteceu nos dias 16 e 17 de março de
            2002 para o curso Superior de Tecnologia em Informática com ênfase em Gestão de Negócios e Tecnologia em
            Logística com ênfase em Transportes. Em julho de 2002 ocorreu o segundo vestibular, onde foi incluído o
            curso Superior de Tecnologia em Produção com ênfase em Plásticos.
        </p>

        <figure class="historic-figure text-center my-5">
            <img decoding="async" width="1696" height="617"
                 src="https://bkpsitecpsnew.blob.core.windows.net/uploadsitecps/sites/137/2024/08/sobre_vagas.png"
                 alt="" class="img-fluid historic-image">
            <figcaption class="historic-caption">Total de vagas do primeiro Vestibular da Fatec Zona Leste
            </figcaption>
        </figure>

        <p>Em 2010 a Fatec Zona Leste passa a ter sua sede separada da agora Etec da Zona Leste e, junto com a nova
            casa, por decisão do Conselho Estadual de Educação os cursos foram reformulados, passando a se chamarem
            Análise e Desenvolvimento e Sistemas, Logística e Polímeros, todos nos mesmos períodos dos cursos anteriores
            (tarde e noite).
        </p>

        <p>No 2º semestre de 2010 a Fatec Zona Leste passou a oferecer o curso Comércio Exterior nos períodos manhã e
            tarde. Em 2013 foi implantado o curso de Gestão Empresarial no período da manhã. No início de 2019, foi
            implantado o curso de Desenvolvimento de Produtos Plásticos no período da noite. Curso moderno, que abrange
            inovações tecnológicas para a área de produção.
        </p>

        <p>No 2º semestre de 2019 foi implantado o curso de Gestão de Recursos Humanos no período da manhã, curso que é
            sucesso desde o seu primeiro vestibular. Também no 2º semestre de 2019, a Fatec Zona Leste, em parceria com
            a IBM, passa a oferecer o AMS-Ptech, posteriormente chamado apenas de AMS (Articulado Médio-Superior), onde
            os alunos cursam o ensino médio e técnico pela Etec da Zona Leste e ingressam no curso superior AMS –
            Análise e Desenvolvimento de Sistemas, curso anual, que tem sua primeira turma em 2022. Em 2020, a Fatec
            Zona Leste passou a ser um dos polos do curso de Gestão Empresarial EAD.
        </p>

        <p>No 1º semestre de 2021, foi implantado o curso de Desenvolvimento de Software Multiplataforma, oferecido
            também no período da manhã, já com uma grade totalmente reformulada e moderna, com algumas disciplinas
            oferecidas remotamente. Em 2022, a Fatec Zona Leste e a Etec da Zona Leste completam 20 anos fazendo
            história. História de sucesso que foi iniciada graças aos moradores da região e que continua sendo escrita
            pela própria comunidade do entorno, por alunos, professores e funcionários.
        </p>

        <figure class="historic-figure text-center my-5">
            <img decoding="async" width="1856" height="2411"
                 src="https://bkpsitecpsnew.blob.core.windows.net/uploadsitecps/sites/137/2024/08/sobre_texto.png"
                 alt="" class="img-fluid historic-image"
                 style="width:791px;height:auto">
            <figcaption class="historic-caption">
                Registro do Movimento Popular pelo Desenvolvimento da Zona Leste.
            </figcaption>
        </figure>
    </div>
</section>
</body>
</html>